.product {
    // -------[產品列表]-----------//
    &-list {
        width: 100%;
        &-bg {
            @include bg(product/productList-bg, png, center, center, no-repeat, cover);
            height: 660px;
        }
        .page {
            &-title {
                padding: 0 20px;
                max-width: 1280px;
                font-size: 128px;
                color: $secondary;
                letter-spacing: 3.5px;
                text-transform: uppercase;
                text-align: right;
                margin: 0 auto;
                height: 100%;
                font-style: italic;
                font-weight: bold;
                font-family: "futura-pt";
                @include flex(normal, center, column);
            }
            &-sub-title {
                display: block;
                font-size: $h3;
                color: $gray-dark;
            }
        }
    }
    &-hot {
        position: relative;
        top: -180px;
        @include flex(center, space-between);
    }
    &-title {
        width: 30%;
        font-size: $h3;
        font-weight: bold;
        border-bottom: 1px solid $secondary;
        padding-bottom: 12px;
        margin-top: 20px;
        &-en {
            font-size: $h4;
            color: $secondary;
            opacity: 0.3;
        }
    }
    &-card {
        @include flex(flex-start, flex-start);
        width: 100%;
        flex-wrap: wrap;
        gap: 53px;
        &.hot {
            width: 70%;
            gap: 0;
            @include flex(Center, space-between);
            .product-card-item {
                width: calc((100% - 80px) / 3);
                .product-card-img {
                    background-color: white;
                    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
                }
            }
        }
        &-item {
            width: calc((100% - 160px) / 4);
            text-align: center;
            margin: 16px 0;
            position: relative;
            @include cursor;
            &:hover {
                .product-card {
                    &-img {
                        &::before {
                            content: "";
                            width: 100%;
                            height: 270px;
                            position: absolute;
                            top: 0;
                            display: block;
                            background-color: rgba(255, 255, 255, 0.4);
                        }
                        &::after {
                            content: "";
                            width: 40px;
                            height: 40px;
                            position: absolute;
                            top: calc((100% - 86px) / 2);
                            left: calc((100% - 40px) / 2);
                            border-radius: 100%;
                            @include bg(shopping-car, svg, center, center, no-repeat, 20px);
                            background-color: $gray-dark;
                        }
                    }
                    &-title {
                        color: $primary;
                    }
                }
            }
        }
        &-img {
            background-color: #f2f2f2;
            img {
                max-height: 270px;
            }
        }
        &-title {
            margin-top: 12px;
        }
        &-category {
            color: $primary;
            margin-top: 4px;
            font-size: $h6;
        }
        &-price {
            color: $secondary;
            margin-top: 4px;
        }
    }
    &-menu {
        margin: 0 auto;
        @include flex(center, center);
        &-link {
            padding: 0 20px;
            font-weight: bold;
            &:not(:last-of-type) {
                border-right: 1px solid $gray-dark;
            }
            &.active {
                a{
                    color: $primary;
                }
            }
        }
    }
    // -------[產品內頁]-----------//
    &-detail{
        @include flex(center,space-between);
        &-img{
            width: 100%;
            // position: relative;
            img{
                max-width: 500px;
                margin: 0 auto;
            }
            &::after{
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 30%;
                height:100%;
                display: block;
                z-index: -1;
                background-color: rgba(203, 203, 203, 0.3);
            }
        }
        &-content{
            width: 100%;

        }
        &-categroy{
            font-size: $h6;
            color: $secondary;
        }
        &-title{
            font-size: $h3;
            color: $primary;
            margin-top: 4px;
        }
        &-txt{
            margin-top: 16px;
            padding-bottom: 16px;
            color: $gray;
            line-height: 1.5;
            border-bottom: 1px solid $secondary;
            margin-bottom: 16px;
        }
        &-description{
            margin-top: 16px;
            &-title{
                font-size: $h6;
                font-weight: bold;
            }
            &-txt{
                font-size: $h6;
                color: $gray;
            }
        }
        &-addBox{
            margin: 16px 0;
            @include flex(center);
            .addBox-select{
                max-width: 200px;
                padding: 12px 20px;
            }
            .btn{
                margin: 0 auto 0 20px;
            }
        }
        &-info{
            &-title{
                font-size: $h6;
                font-weight: bold;
            }
            &-list{
                list-style-type: disc;
                padding: 8px 20px;
            }
            &-txt{
                color: $gray;
            }
        }
    }
}

@include desktop{
    .product{
        &-detail{
            @include flex(center,space-between,column);
            &-img{
                
                &::after{
                    content: none;
                }
            }
        }
    }
}

@include pad {
    .product {
        &-list {
            &-bg {
                height: 300px;
            }
            .page {
                &-title {
                    font-size: $h1;
                    letter-spacing: 3.5px;
                }
                &-sub-title {
                    font-size: $h5;
                }
            }
        }
        &-hot {
            display: none;
        }
        &-menu {
            position: sticky;
            top: 76px;
            padding: 12px 0;
            background-color: white;
            z-index: 8888;
        }
        &-card {
            gap: 20px;
            &-item {
                width: calc((100% - 40px) / 3);
            }
        }
    }
}

@include mobile_lg {
    .product {
        &-list {
            &-bg {
                height: 200px;
            }
            .page {
                &-title {
                    font-size: $h3;
                    padding-top: 80px;
                }
                &-sub-title {
                    font-size: $h6;
                    letter-spacing: 1px;
                }
            }
        }
        &-card {
            gap: 20px;
            &-item {
                width: calc((100% - 20px) / 2);
            }
        }
        &-menu {
            font-size: $h6;
            &-link {
                padding: 0 12px;
            }
        }
    }
}
